<!DOCTYPE html>
{% load static%}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet"> 
	{% block corecss %}
	<link rel="stylesheet" href="{% static 'core/css/core.css' %}">
	{% endblock corecss %}
	
</head>
<body>
    <div class="container-fluid bg-dark">
    	<div class="row">
    		<div class="col-sm-2">
    			{% include 'core/sidebar.html' %}
    		</div>
    		<div class="col-sm-10">
    			{% block content %}

    			{% endblock content %}
    		</div>
    	</div>
    	<div class="text-center">
		<a href="#" target="_blank"><i class="fa-brands fa-twitter i-color mr-3"></i></a>
		<a href="#" target="_blank"><i class="fa-brands fa-facebook i-color mr-3"></i></a>
		<a href="#" target="_blank"><i class="fa-brands fa-youtube i-color mr-3"></i></a>
		<a href="#" target="_blank"><i class="fa-brands fa-instagram i-color mr-3"></i></i></a>
	</div>
</div>
    </div>	



<script src="{% static 'core/js/jquery.js' %}"></script>
<script src="{% static 'core/js/popper.js' %}"></script>
<script src="{% static 'core/js/bootstrap.js' %}"></script>
<script src="{% static 'core/js/all.min.js' %}"></script>
</body>
</html>