{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5">
	<h1 class="text-warning mb-5 border-bottom"> CONTACT US</h1>
	<div class="row text-white mb-5">
		<p class="mx-auto mb-5"> Do you have any Qestions ? please feel free to contact us , i will reply to you persoally to you. Thanks !! </p>
		<div class="col-sm-9 mb-5">
			<form action="">
				<div class="form-row">
    				<div class="form-group col-md-6">
      					<label for="inputEmail4">Email</label>
      					<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
   					 </div>
   					 <div class="form-group col-md-6">
     				 <label for="inputAddress">Your Name</label>
   					 <input type="text" class="form-control" id="inputAddress">
    		</div>
  		</div>
  		<div class="form-group">
  		 	 <label for="inputAddress">Your Subject</label>
   			 <input type="text" class="form-control" id="inputAddress">
 		 </div>
				  <div class="form-group">
				    <label for="inputAddress2">Your message*</label>
				    <input type="text" class="form-control" id="inputAddress2" >
				  </div>
				  <button type="submit" class="btn btn-primary">Send</button>
				
			</form>
		</div>

		<div class="col-sm-3 text-center">
			<ul class="list-unstyled">
				<li>
					<i class="fa-solid fa-location-dot fa-2x i-color"></i>
					<p>Essen, NordReinWestfalen, Germany</p>
				</li>
				<li>
					<i class="fa-solid fa-phone-flip fa-2x i-color"></i>
					<p>+491459879915</p>
				</li>
				<li>
					<i class="fa-solid fa-envelopes-bulk fa-2x i-color"></i>
					<p>contact@email.com</p>
				</li>
			</ul>
		</div>


	</div>

	
</div>
{% endblock content %}