{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5">
	<div class="text-center"> 
		<img src="{% static 'core/images/pic.jpg' %}" alt="profilepic" class="img-Thumbnail" width="250px" height="150px">
	</div>
	<div class="text-white mt-3 mx-5 text-justify ">
		<h1 class="font-weight-bold st-font"> Krishna,</h1>
		<div class="px-4" style="line-height: 2rem;">
			<p style="text-indent: 150px;">
				<b class="text-danger">Krishna's</b> philosophical conversation with his friend and cousin Arjuna during the Kurukshetra War later became known as the famous <b class="text-warning">Bhagavad Gita</b>, the holy book of Hindus.<p> How he amassed this great knowledge is revealed in the Anugita chapters of <b class="text-danger">Mahabharata</b>, which states that he got this knowledge by interactions with many learned men, and by his own meditations. He majorly learned from Karna and through his personality. In the Karna-Upanivada Parva, when Krishna met Karna, he learnt a lot of things from his great character.</p> <p>A character which was selfless, a symbol of loyalty; a great hero; one who does not forsake his loved ones for money and kingdom even. He also learnt from great teachers like Rishi Sandipani, Brihaspati etc.

The following was what Krishna told to Arjuna when later told to repeat what he discoursed as Bhagavat Gita, in the midst of the Kurukshetra War. </p>
			</p>
		</div>
	</div>
		<div class="text-center">
			<a href="" class="btn btn-outline-warning my-1 mr-5">More Details</a>
			<a href="" class="btn btn-outline-info my-1"> Contact </a>
		</div>
	
</div>





    			
{% endblock content %}
